<h1>Add Student</h1>

<form action="/" method="POST">
  <input name="name" placeholder="Name" required />
  <input name="rollNumber" placeholder="Roll Number" required />
  <input name="branch" placeholder="Branch" />
  <input name="marks" placeholder="Marks" />

  <button>Add</button>
</form>

<a href="/">Back</a>